# Build artifacts
bin/
obj/
vcpkg/
vcpkg_installed/
libs/GameNetworkingSockets/

# IDE settings
.idea/
.vs/
.vscode/
*.user

# Build deployments
thunderstore/*.md
thunderstore/BepInEx
thunderstore/*.zip
out/

# Server setup
cert/
docker/
database.db*

# GitHub Actions
local/

# Weird visual studio launch options
SlopCrew.Server/Properties/*
